#email-signup-entry-form {
}

#email-signup-entry-form div.form-item {
  display: inline-block;
  width: 60%;
}

#email-signup-entry-form div.form-item label {
  display: inline-block;
  width: 57%;
  vertical-align: middle;
  line-height: 1.25em;
}

#email-signup-entry-form div.form-item input {
  display: inline-block;
  width: 40%;
  font-size: 16px;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: 0;
}

#email-signup-entry-form input {
  display: inline;
  vertical-align: middle;
  width: auto;
  margin-left: 6px;
  font-size: 16px;
  font-weight: normal;
}

#email-signup-entry-form #edit-submit {
}
